body {
    background: url(./Images/new\ akan\ image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}

.top {
    margin-top: 20px;
}

ul li {
    list-style: none;
}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

h2,
p {
    text-align: center;
    color: black;
}

.formm h2 {
    color: black;
}

.xcard {
    display: flex;
    gap: 50px;
    margin-left: 550px;
}
.xcard .card {
    padding: 30px;
    border-radius: 20px;
    background-color:wheat;
}

.card h3 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -10px;
    color: black;
}

.card ul li {
    font-size: 18px;
}

#formmm {
    margin-left: 780px;
    color: black;
}

footer {
    margin-left: 15px;
    color:black;
    font-size: larger;
    font-weight: bolder;
}

span {
    color: white;
}
/* .sub{
    width: 30px;
    height: 30px;
} */

