body {
    background: url(./Images/Akan\ images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}

.top {
    margin-top: 20px;
}

ul li {
    list-style: none;
}
